*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  margin-top: 56px;
}

.bg-light{
  background-color: #F5F5F5;
}

.navbar-brand a {
  color: #3FC1C9;
  text-decoration: none;
}

.PageTitle{
  color: #3FC1C9;
  font-family: 'Yellowtail', cursive;
  font-size: 7vw;
}

.contactSection {
  text-align: center;
  height: 400px;
  background-color: #364F6B;
  color: #F5F5F5;
  font-size: 2.5em;
  padding-top: 1%;
}

.contactSection img{
  padding-top: 7%;
}

a.hover {
  cursor: pointer;
}
